html, body, .game {
    height: 100%;
}

.hide {
    display: none;
}

.car, .enemy {
    width: 50px;
    height: 100px;
    background: transparent url("./image/racer.png") center / cover no-repeat;
    position: absolute;
    bottom: 10px;
    left: 125px;
}

.gameArea {
    width: 300px;
    height: 100%;
    position: relative;
    margin: auto;
    background: white;
    border-left: #222222 10px solid;
    border-right: #222222 10px solid;
    overflow: hidden;
}

.line {
    position: absolute;
    width: 10px;
    height: 50px;
    background: #222222;
    left: 145px;
}